<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find point_lio)/config/rosconsole.conf" />
    <node pkg="point_lio" type="point_lio_node" name="point_lio" output="screen">
        <rosparam command="load" file="$(find point_lio)/config/mid360.yaml" />
    </node>
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz"
        args="-d $(find point_lio)/rviz/default.rviz" />
</launch>